<footer class="container-fluid pt-4 footer-bg mt-5">
    <div class="row justify-content-center column-gap-3 footer-content">
        <div class="col-xs-12 col-md-3">
            <div class="footer_titles">Menu</div>
            <div>
                <a routerLink="">
                    Nos prestations
                </a>
            </div>

            <div>
                <a routerLink="a_propos">
                    A propos
                </a>
            </div>
            <div>
                <a routerLink="contact">
                    Contact
                </a>
            </div>
        </div>
        <div class="col-xs-12 col-md-3">
            <div class="footer_titles">
                    Informations juridiques
            </div>
            <div>
                <a routerLink="">
                    Mentions légales
                </a>
            </div>
            <div>
                <a routerLink="">
                    Politique de confidentialité
                </a>
            </div>
            <div>
                <a routerLink="">
                    Conditions générales de vente
                </a>
            </div>
            <div>
                <a routerLink="">
                    Politique d'annulation
                </a>
            </div>
        </div>
        <div class="col-xs-12 col-md-3">
            <div class="footer_titles">
                Contact
            </div>
            <div>Mail : eclatdutextile&#64;gmail.com</div>
            <div>Téléphone : 07 XX XX XX XX</div>
        </div>
    </div>
    <div class="footer-rights">Tous droits réservés © 2012-{{year}} L'Eclat du textile</div>
</footer>