<h1>S'inscrire</h1>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="email">Email</label>
      <input id="email" formControlName="email" type="email">
      <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
        Email invalide
      </div>
    </div>
    <div>
      <label for="password">Mot de passe</label>
      <input id="password" type="password" formControlName="password">
      <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
        Mot de passe requis
      </div>
    </div>
    <div>
      <label for="first_name">Prénom</label>
      <input id="first_name" type="text" formControlName="firs_tname">
      <div *ngIf="loginForm.get('first_name')?.invalid && loginForm.get('first_name')?.touched">
        Prenom requis
      </div>
    </div>
    <div>
      <label for="last_name">Nom de famille</label>
      <input id="last_name" type="text" formControlName="last_name">
      <div *ngIf="loginForm.get('last_name')?.invalid && loginForm.get('last_name')?.touched">
        Nom de famille requis
      </div>
    </div>
    <button type="submit" [disabled]="loginForm.invalid">S'inscrire</button>
  </form>