<div class="login-container">
  <div class="user_connection">

    <h1 class="page_title">S'inscrire</h1>

    <form [formGroup]="RegisterForm" (ngSubmit)="onSubmit()">
      <div class="field_user_connection">
        <div class="field_user_input">
          <label for="email">Email</label>
          <input id="email" formControlName="email" type="email" required>
          <div class="required_filed" *ngIf="RegisterForm.get('email')?.invalid && RegisterForm.get('email')?.touched">
            <p>Email invalide</p>
          </div>
        </div>
      </div>
      <div class="field_user_connection">
        <div class="field_user_input">
          <label for="password">Mot de passe</label>
          <input id="password" type="password" formControlName="password" required>
          <div class="required_filed" *ngIf="RegisterForm.get('password')?.invalid && RegisterForm.get('password')?.touched">
            <p *ngIf="RegisterForm.get('password')?.errors?.['required']">Mot de passe requis</p>
            <p *ngIf="RegisterForm.get('password')?.errors?.['minlength']">Longueur de mot de passe incorrect</p>
            <p *ngIf="RegisterForm.get('password')?.errors?.['pattern']">Mot de passe doit contenir au moins une majuscule, une minuscule, un chiffre et un caractère spécial</p>
          </div>
        </div>
      </div>
      <div class="field_user_connection">
        <div class="field_user_input">
          <label for="first_name">Prénom</label>
          <input id="first_name" type="text" formControlName="first_name" required>
          <div class="required_filed" *ngIf="RegisterForm.get('first_name')?.invalid && RegisterForm.get('first_name')?.touched">
            Prénom requis
          </div>
        </div>
      </div>
      <div class="field_user_connection">
        <div class="field_user_input">
          <label for="last_name">Nom de famille</label>
          <input id="last_name" type="text" formControlName="last_name" required>
          <div class="required_filed" *ngIf="RegisterForm.get('last_name')?.invalid && RegisterForm.get('last_name')?.touched">
            Nom de famille requis
          </div>
        </div>
      </div>

      <button type="submit" class="button-margin"
        [disabled]="RegisterForm.invalid"
        [ngClass]="{'button button-margin': RegisterForm.valid, 'disabled_button button-margin': RegisterForm.invalid}">
        S'inscrire
      </button>

    </form>

    <div class="link_connection">
      <a routerLink="/login">Vous avez un compte ? Connectez-vous</a>
    </div>

  </div>