<main>
    <h1 class="page_title">A propos</h1>

    <div>

    
    <p>
        Depuis plus de 10 ans, notre pressing familial installé à Lyon met son savoir-faire au service de l’entretien
        textile. Tout a commencé avec Bernard et Laetitia, qui souhaitaient offrir un service de qualité aux Lyonnais.</p>
    <p>
        Dès l’ouverture de notre atelier, nous avons mis un point d'honneur à proposer un service soigné et
        personnalisé. Grâce à des techniques éprouvées, nous avons su évoluer avec le temps tout en conservant notre
        authenticité.
    </p>

    <p>
        Aujourd’hui, nous continouns de perpétuer nos valeurs en intégrant des procédés modernes et écoresponsables.
        Nous utilisons des solutions de nettoyage respectueuses de l’environnement tout en garantissant un soin optimal
        pour chaque vêtement.
    </p>

    <p>
        Nous sommes fiers d’entretenir une relation de proximité avec nos clients en offrant conseils et accompagnement.
        Que ce soit pour un costume, une robe de mariée ou des vêtements du quotidien, chaque pièce reçoit l’attention
        qu’elle mérite.
    </p>

    <p>
        Venez découvrir notre pressing familial à Lyon, où tradition et engagement écologique se rencontrent pour vous
        offrir le meilleur du nettoyage textile !
    </p>

    <img src="assets/images/image_a_propos.webp" alt="image_a_propos">
    
    </div>
</main>