<div class="profile-container block" *ngIf="!isLoading; else loading">
  <h2>Mon Profil</h2>

  <form [formGroup]="profileForm" (ngSubmit)="updateUser()">

    <div class="field_user_connection margin-initial-form">
      <div class="field_user_input">
        <label for="username">Email</label>
        <input id="username" type="email" formControlName="username" />
        <div *ngIf="profileForm.get('username')?.invalid && profileForm.get('username')?.touched">
          <small class="error-text">Email requis</small>
        </div>
      </div>
    </div>

    <div class="field_user_connection margin-initial-form">
      <div class="field_user_input">
        <label for="first_name">Prénom</label>
        <input id="first_name" type="text" formControlName="first_name" placeholder="Votre prénom" />
        <div *ngIf="profileForm.get('first_name')?.invalid && profileForm.get('first_name')?.touched">
          <small class="error-text">Prénom requis</small>
        </div>
      </div>
    </div>

    <div class="field_user_connection margin-initial-form">
      <div class="field_user_input">
        <label for="last_name">Nom</label>
        <input id="last_name" type="text" formControlName="last_name" placeholder="Votre nom" />
        <div *ngIf="profileForm.get('last_name')?.invalid && profileForm.get('last_name')?.touched">
          <small class="error-text">Nom requis</small>
        </div>
      </div>
    </div>

    <button class="button" type="submit" [disabled]="profileForm.invalid">Modifier</button>
  </form>
</div>

<br>

<!-- Template de chargement -->
<ng-template #loading>
  <p>Chargement des informations du profil...</p>
</ng-template>

<h2>Commande :</h2>

<div class="block">
  <div class="m-0">
    <div *ngFor="let item of serviceData; let i = index">
      <p class="m-0"><strong>Nom du service :</strong> {{ item.serviceName }}</p>
      <p class="m-0"><strong>Nom du vêtement :</strong> {{ item.clothName }}</p>
      <p class="m-0"><strong>Quantité :</strong> {{ item.quantity }}</p>
      <p><strong>Prix total :</strong> {{ item.totalPrice*item.quantity | number:'1.2-2' }} €</p>
      <button class="button-red" (click)="removeItem(i)">Supprimer cet article</button>
      <hr>
    </div>
  </div>
</div>

<!-- Affichage du prix total pour tous les services -->
<div *ngIf="getTotalPrice() > 0; else noItems" class="block">
  <h3>Prix total de la commande : {{ getTotalPrice() | number:'1.0-2' }} €</h3>

  <div class="align-button-order">
    <div><a class="button" [routerLink]="['/commande']">Passer commande</a></div>

    <!-- Bouton pour effacer les données -->
    <button (click)="clearData()" class="button-red">Effacer ma commande</button>
  </div>
  
</div>

<ng-template #noItems>
  <p>Votre panier est vide.</p>
</ng-template>

<div class="nav-item order-3" *ngIf="authService.isLogged()">
  <a class="btn btn-danger" (click)="logout()">Se deconnecter</a>
</div>