*{
    @font-face {
        font-family: "Fira Sans";
        src: url("assets/fonts/FiraSans-Regular.ttf") format("truetype");
    }

    @font-face {
        font-family: "Allerta";
        src: url("assets/fonts/Allerta-Regular.ttf") format("truetype");
    }

    @font-face {
        font-family: "Lato";
        src: url("assets/fonts/Lato-Regular.ttf") format("truetype");
    }

    @font-face {
        font-family: "Montserrat";
        src: url("assets/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
    }

    h1, h2, h3, h4, h5, h6{
        font-family: "Fira Sans",sans-serif, "Lato" ,sans-serif;
    }

    font-family: "Allerta",sans-serif, "Fira Sans",sans-serif;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #19456B;
}

body, html {
    background-color: #F8F1F1;
    height:100%;
}

.page_title {
    text-align: center;
    color: #19456B;
    margin: 70px 0px;
    text-decoration: underline;
}

.service_provision {

    border: solid #19456B 1px;
    border-radius: 20px;
    color: #19456B;
    text-align: center;
    text-decoration: none;

    .service_provision_name {
        font-weight: 550;
        margin: 10px 0px;
    }

    .service_provision_image {
        display: block;
        margin: 20px auto;
        width: auto;
        height: 30px;

        img {
            height: 100%;
            width: auto;
        }
    }

    .service_provision_description {
        margin: 20px 0px;
    }

    &:hover {
        border: solid #19456B 2px;
    }
}

.user_connection{
    margin: 50px 0;

    .field_user_connection{
        display: block;
        margin:auto;
        width:400px;

        .required_filed{

            color: red;
        }

        >*:last-child{
            margin-bottom:30px;
        }

        .field_user_input{

            *{
                display: block;
            }

            input{
                width: 100%;
            }

        }
    }
}

.button{
    border: none;
    display: block;
    width: 150px;
    text-decoration: none;
    color: #C5E898;
    background-color: #19456B;
    border-radius: 5px;
    padding: 10px;
}

.button-red{
    border: none;
    display: block;
    width: 150px;
    text-decoration: none;
    background-color: #DC3545;
    color:#F8F1F1;
    border-radius: 5px;
    padding: 10px;
}

.button-margin{
    margin: 30px auto;
}

.disabled_button{
    border: none;
    display: block;
    width: 150px;
    text-decoration: none;
    color: #C5E898;
    background-color: #19456B;
    border-radius: 5px;
    padding: 10px;
    opacity: 0.7;
}

.link_connection{
    text-align: center;
    text-decoration: underline;

    a{
        color: #19456B;
    }
}