<section *ngIf="serviceProvisionResponseItemData" class="container">

    <a class="back" routerLink="/nos_prestations">Retour</a>

    <div class="row justify-content-center gap-2 d-flex align-item-center service_provision_item_container">
        <form [formGroup]="itemForm" (ngSubmit)="addItem()"
            class="col-md-5 col-xs-12 order-sm-2 order-md-0 service_provision_item_select">


            <div class="options">
                <label for="cloth">Vêtements</label>
                <select formControlName="cloth" name="cloth" id="cloth" (change)="onArticleSelect($event)" required>
                    <option value="">--Sélectionner votre vêtement--</option>

                    <!-- <option *ngFor="let categoryArticle of categoryArticleMembers | isSubArticle;"
                        [value]="categoryArticle.id">
                        {{categoryArticle.name_category_article}}
                    </option> -->

                    <option *ngFor="let article of getFilteredArticles()" [value]="article.id">
                        {{ article.name_category_article }}
                    </option>


                </select>
                <div *ngIf="itemForm.get('cloth')?.invalid && itemForm.get('cloth')?.touched">
                    Champs requis
                </div>
            </div>


            <div class="options">
                <label for="material">Type de matériau</label>
                <select formControlName="material" name="material" id="material">

                    <option value="">--Selectionner votre matériau--</option>
                    @for(typeMaterial of typeMaterialMembers; track typeMaterial.id){
                    <option value="{{typeMaterial.name_type_material}}">{{typeMaterial.name_type_material}}</option>
                    }
                </select>
                <div *ngIf="itemForm.get('material')?.invalid && itemForm.get('material')?.touched">
                    Champs requis
                </div>
            </div>


            <div class="options">
                <label for="color">Couleur</label>
                <select formControlName="color" name="color" id="color">

                    <option value="">--Selectionner votre couleur--</option>
                    @for(color of colorMembers; track color.id){
                    <option value="{{color.name_color}}">{{color.name_color}}</option>
                    }
                </select>
                <div *ngIf="itemForm.get('color')?.invalid && itemForm.get('color')?.touched">
                    Champs requis
                </div>
            </div>

            <div class="options">
                <label for="quantity">Quantité</label>
                <input id="quantity" formControlName="quantity" type="number" min="1" value="1">
                <div *ngIf="itemForm.get('quantity')?.invalid && itemForm.get('quantity')?.touched">
                    La quantité est obligatoire.
                </div>
            </div>


            <button class="add_item" type="submit">
                Ajouter
            </button>

        </form>

        <div class="col-2 service_provision_item_line row justify-content-center">
            <div class="service_provision_item_line_content"></div>
        </div>

        <div class="col-md-5 col-xs-12 order-sm-0 order-md-2 service_provision_item ">
            <div class="service_provision_item_content">
                <div class="service_provision_item_name">
                    {{serviceProvisionResponseItemData.name_service}}
                </div>
                <div class="service_provision_item_image">
                    <img src="assets/images/{{serviceProvisionResponseItemData.image_service}}"
                        alt="{{serviceProvisionResponseItemData.name_service}}">
                </div>
                <div>
                    {{serviceProvisionResponseItemData.description}}
                </div>
                <div class="d-flex justify-content-evenly">
                    <span>Prix unitaire :</span>

                    <!-- Si un article est sélectionné, on affiche le prix multiplié par le multiplicateur -->
                    <span *ngIf="selectedArticle">
                        {{ selectedArticle.multiplier_price*serviceProvisionResponseItemData.price_service |
                        number:'1.0-2' }} €
                    </span>

                    <!-- Si aucun article n'est sélectionné, ne rien afficher -->
                    <span *ngIf="!selectedArticle">
                        Sélectionnez un article pour voir le prix.
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>