<main>
    <h1 class="page_title">
        Mentions Légales
    </h1>

    <h2>1. Éditeur du site</h2>

    <p>Nom de l’entreprise : L'Éclat du textile</p>
    <p>Statut juridique : SARL</p>
    <p>Siège social : 1 Rue Place Jean-Charles 69003</p>
    <p>Numéro d’immatriculation : AB-123-CD</p>
    <p>TVA intracommunautaire : FR12 345678901</p>
    <p>E-mail : eclatdutextile&#64;gmail.com</p>
    <p>Téléphone : 07 XX XX XX XX</p>
    <p>Directeur de publication : Bernard Lermite</p>

    <h2>2. Hébergement du site</h2>

    <p>Hébergeur : OVH</p>
    <p>Adresse : Roubaix</p>
    <p>Téléphone : 424761419</p>
    <p>Site web : <a href="https://www.ovhcloud.com/fr/">ovhcloud.com</a></p>

    <h2>3. Propriété intellectuelle</h2>

    <p>Les contenus présents sur ce site (textes, images, vidéos, graphismes, logo, icônes, etc.) sont, sauf mention
        contraire, la propriété exclusive de l'Éclat du textile ou de ses partenaires et sont protégés par les
        lois relatives à la propriété intellectuelle. Certains contenus peuvent être issus de sources libres de droit et
        sont utilisés conformément aux licences en vigueur.
    </p>

    <p>Toute reproduction, modification, distribution ou exploitation sans autorisation préalable des titulaires des
        droits est interdite, sauf dans les cas prévus par la législation ou lorsque le contenu est spécifiquement
        mentionné comme étant libre de droits.
    </p>

    <h2>4. Responsabilité</h2>

    <p>La société l'Éclat du textile s’efforce d’assurer au mieux l’exactitude et la mise à jour des informations
        publiées
        sur son site, mais ne peut garantir l’exactitude, l’exhaustivité ou l’actualité de celles-ci. L’utilisateur est
        seul responsable de l’utilisation des informations mises à disposition sur ce site.</p>

    <h2>5. Données personnelles</h2>

    <p> Conformément au
        Règlement Général sur la Protection des Données (RGPD), vous disposez d’un droit d’accès, de rectification et de
        suppression de vos données personnelles en nous contactant à eclatdutextile&#64;gmail.com.</p>

    <h2>6. Droit applicable et juridiction compétente</h2>

    <p>Les présentes mentions légales sont soumises au droit français. En cas de litige, et à défaut d’un
        accord amiable, les tribunaux compétents seront ceux du ressort du siège social de Lyon.
    </p>

</main>