<h2>Conditions Générales de Vente</h2>

<h2>1. Objet</h2>
<p>Les présentes Conditions Générales de Vente (CGV) régissent les relations entre <strong>L'Éclat du textile</strong>,
    exploitant du service de pressing, et tout client souhaitant utiliser ses services via le
    site internet ou directement en boutique.</p>

<h2>2. Acceptation des conditions</h2>
<p>En passant commande, le Client reconnaît avoir pris connaissance des présentes CGV et les accepte sans réserve. Ces
    conditions peuvent être modifiées à tout moment, la version applicable étant celle en vigueur à la date de la
    commande.</p>

<h2>3. Services proposés</h2>
<p>Nous proposons les services suivants :</p>
<ul>
    <li>Nettoyage à sec</li>
    <li>Repassage</li>
    <li>Ourlets et modifications</li>
    <li>Lavage</li>
    <li>Remplacement de boutons</li>
    <li>Nettoyage de tissus délicats</li>
    <li>Réparations de déchirures et de trous</li>
</ul>

<h2>4. Tarification</h2>
<p>Les prix des services sont affichés en <strong>euro</strong> et sont susceptibles d’être modifiés à tout moment.
    Toutefois, le tarif appliqué au Client est celui en vigueur au moment de la commande.</p>

<h2>5. Prise en charge des articles</h2>
<p>Le Client est tenu de vérifier que les articles déposés au pressing ne contiennent aucun objet dans leurs poches.
    Nous déclinons toute responsabilité en cas de perte ou d’endommagement d’objets oubliés.</p>

<h2>6. Délai de réalisation</h2>
<p>Les délais de traitement sont donnés à titre indicatif et peuvent varier en fonction du type de textile et du service
    demandé. Tout retard ne pourra donner lieu à un remboursement ou à une indemnisation.</p>

<h2>7. Paiement</h2>
<p>Le paiement est exigible au moment de la commande ou à la récupération des articles, selon les modalités suivantes :
</p>
<ul>
    <li>Espèces</li>
    <li>Carte bancaire</li>
    <li>Paiement en ligne (si applicable)</li>
</ul>

<h2>8. Réclamations et responsabilités</h2>
<p>Nous nous engageons à traiter chaque article avec soin. Cependant, nous ne pouvons être tenus responsables des
    dommages liés :</p>
<ul>
    <li>À l’usure normale des textiles</li>
    <li>À la fragilité ou à l’incompatibilité du textile avec le traitement demandé</li>
    <li>Aux consignes d’entretien erronées ou absentes sur l’étiquette du fabricant</li>
</ul>
<p>En cas de litige, une réclamation doit être effectuée dans un délai de <strong>14</strong> après
    récupération des articles.</p>

<h2>9. Non-retrait des articles</h2>
<p>Tout article non récupéré dans un délai de <strong>14</strong> après la date prévue sera considéré
    comme abandonné. Nous nous réservons le droit de le donner à une association caritative ou de le détruire.</p>

<h2>10. Données personnelles</h2>
<p>Les informations collectées dans le cadre du service sont utilisées uniquement pour la gestion des commandes et ne
    sont en aucun cas revendues. Plus de détails dans notre <a routerLink="/politique_de_confidentialite">Politique de
        Confidentialité</a>.</p>

<h2>11. Force majeure</h2>
<p>Nous ne pourrons être tenus responsables des retards ou de l’impossibilité d’exécuter le service en cas de force
    majeure (panne technique, intempéries, etc.).</p>

<h2>12. Droit applicable et litiges</h2>
<p>Les présentes CGV sont soumises au droit <strong>français</strong>. En cas de litige, les tribunaux du siège social
    de <strong>L'Éclat du textile</strong> seront compétents.</p>

<h2>13. Contact</h2>
<p>Pour toute question ou réclamation, vous pouvez nous contacter :</p>
<ul>
    <li>E-mail : <strong>eclatdutextile&#64;gmail.com</strong></li>
    <li>Adresse : <strong>1 Rue Place Jean-Charles 69003</strong></li>
    <li>Téléphone : <strong>07 XX XX XX XX</strong></li>
</ul>