<nav class="navbar navbar-expand-lg header">
  <div class="color_header container-fluid d-flex justify-content-between align-items-lg-center align-items-sm-start">
    <div class="d-flex order-sm-2 order-lg-1">
      <a class="titre" routerLink="" class="logo">
        <picture>
          <source srcset="assets/images/logo_eclat_du_textile.png" media="(min-width: 992px)">
          <source srcset="assets/images/logo_responsive.webp" media="(max-width: 992px)">
          <img src="assets/images/logo_eclat_du_textile.png">
        </picture>
      </a>
    </div>
    <div class="order-sm-1 order-lg-2">
      <button class="navbar-toggler burger_button" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav justify-content-around">
          <li class="nav-item">
            <a class="nav-link" routerLink="nos_prestations">Nos prestations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="a_propos">A propos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="nav-item order-3" *ngIf="!authService.isLogged()">
      <a class="btn" routerLink="login">Se connecter</a>
    </div>
    <div class="nav-item order-3" *ngIf="authService.isLogged()">
      <a class="nav-link" routerLink="profil">
        <img src="assets/images/icon_profil.webp">
      </a>
    </div>
  </div>
</nav>