.header{
    background-color: #19456B;
}

.logo{
    max-width: 200px;
    height: auto;
    align-self: center;

    img{
        width:100%;
        height: auto;
        vertical-align: baseline;
    }
}

.color_header a{
    color: #C5E898;
}

li{
    align-items: center;
}

.titre{
    text-decoration: none;
}

