<nav class="navbar navbar-expand-lg header">
  <div class=" color_header container-fluid">
    <a class="titre" routerLink="">L'Eclat du textile</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="nos_prestations">Nos prestations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="">Contact</a>
        </li>
        <li class="nav-item m-2" *ngIf="!authService.isLogged()">
          <a class="btn btn-light " routerLink="/register">S'inscrire</a>
          <a class="btn btn-primary " routerLink="/login">Se connecter</a>
        </li>
        <li class="nav-item" *ngIf="authService.isLogged()">
          <a class="nav-link" routerLink="profil">Profil</a>
        </li>
        <li class="nav-item" *ngIf="authService.isLogged()">
          <a class="btn btn-danger" (click)="logout()">Se deconnecter</a>
        </li>
      </ul>
    </div>
  </div>
</nav>